body {
  background: linear-gradient(
    90deg,
    rgb(240, 82, 18) 0%,
    rgb(240, 82, 18) 35%,
    rgb(238, 103, 21) 35%,
    rgb(238, 103, 21) 39%,
    rgb(235, 124, 24) 39%,
    rgb(235, 124, 24) 51%,
    rgb(233, 145, 28) 51%,
    rgb(233, 145, 28) 59%,
    rgb(231, 165, 31) 59%,
    rgb(231, 165, 31) 61%,
    rgb(228, 186, 34) 61%,
    rgb(228, 186, 34) 90%,
    rgb(226, 207, 37) 90%,
    rgb(226, 207, 37) 100%
  );
}

.backgroundForm {
  background-color: white;
}

.backgroundNoticias {
  background-color: white;
}

.cards{
  background-color: white;
  opacity: 0.6;
  transition: all 700ms ease;
}

.cards:hover {
  opacity: 2;
  box-shadow: 0 8px 20px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}